/* Estilo para tablets e smartphones */
@media only screen and (max-width: 540px) {
   /* Cabeçalho */
   .header {
      height: 82px;
   }

   .header nav ul li a img {
      width: 14.4px;
      height: 14.4px;
   }

   .header-logo {
      width: 83px;
   }

   /* Produtos */
   .produtos-titulo h1 {
      font-size: 0.875em;
      font-weight: 600;
      line-height: 16.8px;
   }

   .produtos-titulo p,
   .produtos-itens p {
      font-size: 0.75em;
      font-weight: 500;
      line-height: 14.4px;
   }

   .produtos-mostruario {
      grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
      grid-gap: 15px 15px;
      margin-top: 28px 0px 80px 0px;
   }

   /* Sobre */
   .sobre nav {
      margin-bottom: 50px;
   }

   .sobre nav ul li {
      font-size: 0.875em;
      line-height: 16.8px;
   }

   /* Contato */
   .contato {
      width: 100%;
   }

   .contato-titulo {
      font-size: 0.875em;
      line-height: 16.8px;
   }

   .contato-email input {
      font-size: 1em;
      line-height: 19px;
      margin-bottom: 17px;
      width: 100%;
   }

   .contato-botao {
      text-align: center;
      font-size: 1em;
      line-height: 19.2px;
      width: 100%;
   }

   /* Footer */
   .footer-logos {
      padding: 27px 0;
   }

   .footer-logos-sociais img,
   .footer-logos-cartoes img {
      width: 23px;
      height: 23px;
   }
}

/* Para smartphones menores */
@media only screen and (max-width: 299px) {
   /* Produtos */
   .produtos-mostruario {
      grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
      margin-top: 28px 0px 80px 0px;
   }
}
