body,
h1,
h2,
p,
ul,
li,
a {
   margin: 0px;
   padding: 0px;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: "Lato", Helvetica, Arial, sans-serif;
   color: #161616;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

img {
   display: block;
   /* 100% do próprio tamanho da imagem */
   /* max-width: 100%; */
   width: 100%;
}

* {
   box-sizing: border-box;
}

.container {
   width: 100%;
}

.quebra {
   border-bottom: 1px solid #a5a1a1;
}

/* Header */
.header {
   width: 90%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 94px;
}

.header nav ul {
   display: flex;
}

.header nav a {
   display: block;
   padding: 10px;
   transition: all 0.2s ease;
}

.header nav ul li {
   color: #161616;
}

.header li + li {
   margin-left: 12px;
}

.header nav ul li:hover {
   transform: scale(1.1);
}

.header nav ul li a img {
   width: 25px;
   height: 25px;
}

.header-logo {
   width: 120px;
   padding: 10px;
}

/* Introdução */
.introducao img {
   width: 100%;
}

/* Produtos */
.produtos-titulo {
   width: 90%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 28px 0;
}

.produtos-titulo h1 {
   text-transform: uppercase;
   font-weight: 700;
   font-size: 1.25em;
   line-height: 24px;
}

.produtos-titulo p {
   font-weight: 400;
   font-size: 1.125em;
   line-height: 21.6px;
}

.produtos-mostruario {
   width: 90%;
   margin: 0 auto;
   margin-top: 40px;
   margin-bottom: 40px;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
   grid-gap: 30px;
   padding-top: 50px;
}

.produtos-itens:hover {
   transform: scale(1.005);
   transition: all 0.2s ease;
}

.produtos-itens p {
   margin-top: 23px;
   font-size: 1.375em;
   line-height: 26.4px;
}

.produtos-itens p span {
   color: #5ca720;
   font-weight: 700;
   font-size: 1.5625em;
   line-height: 30px;
}

/* Footer */
.footer {
   background: #f9f9f9;
   margin-top: 116px;
}

/* Sobre */
.sobre {
   width: 90%;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: baseline;
   padding: 40px 0 50px 0;
}

.sobre nav {
   flex: 1 1 215px;
   margin-right: 10px;
}

.sobre nav ul li {
   margin-bottom: 10px;
   font-weight: 600;
   font-size: 1.25em;
   line-height: 24px;
}

.sobre nav ul li:hover {
   transform: scale(1.001);
   transition: all 0.2s ease;
}

.sobre nav ul li a {
   color: #161616;
}

/* Contato */
.contato-titulo {
   font-weight: 600;
   font-size: 1.25em;
   line-height: 24px;
   margin-bottom: 18px;
}

.contato-email {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

.contato-email input {
   height: 54px;
   padding: 5px 100px 5px 5px;
   border: none;
}

.contato-botao {
   background: #5ca720;
   color: #fff;
   height: 54px;
   padding: 15px 33px;
}

/* Footer */
.footer-logos {
   width: 90%;
   margin: 0 auto;
   padding: 55px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer-logos-sociais,
.footer-logos-cartoes {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.footer-logos-sociais a:hover,
.footer-logos-cartoes a:hover {
   transform: scale(1.1);
   transition: all 0.2s ease;
}

.footer-logos-sociais a + a,
.footer-logos-cartoes a + a {
   margin-left: 20px;
}
